
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
   
}

body{
    height: 100vh;
    width: 100%;
    

    display: flex;
    align-items: center;
    justify-content: center;

}

.upper-body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}

.profile-image{
    height:50px;
    width: 50px;

    border: 2px solid black;
}
.profile-card{
    height: 480px;
    width: 400px;
    

    border: 3px solid white;
    border-radius: 7%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(14, 14, 14);
    overflow: hidden;

}

.inner-div{
    height: 150px;
    width: 100%;
    background-color: #4070f4;
  

}

.inner2-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inner2-div .name{
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 0px;
}

.inner2-div .job{
   font-size: 14px;
   font-weight: 300;
   color: grey;
   line-height: 1.5;
   
}

.social-img{
    height: 40px;
    width: 100%;
    gap: 10px;

    font-size: 20px;

    display: flex;
    
}
.social-img {
    font-size: 2rem;

    margin-top: 9px;
    

    display: flex;
    align-items: center;
    justify-content: center;
  
}

.butons{
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.email-button{
    height: 35px;
    width: 120px;
    background-color: #4070f4;
    color: white;;


    border: 2px solid #4070f4;
    border-radius: 999px;
    margin-right: 10px;;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.message-button{
    height: 35px;
    width: 120px;
    background-color: #4070f4;
    color: white;;


    border: 2px solid #4070f4;
    border-radius: 999px;
    margin-left: 10px;;


    display: flex;
    justify-content: center;
    align-items: center;
}

.email-button:hover,
.email-button:active{
    text-decoration: underline;

} 

.email-button:active{
   
    border: transparent;
} 

.message-button:hover,
.message-button:active{
    text-decoration: underline;

} 

.message-button:active{
   
    border: transparent;
} 


/* interaction panel */
.contentsection{
    display: flex;
    justify-content: center;
}
.interaction-panel{
    height: 40px;
    width: 80%;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    
}

.first_interact, .second_interact, .third_interact {
    font-size: 1rem;
    padding: 0 10px;
    
    border-right: 2px solid lightgray;
}
.third_interact {
    border-right: none;
}